@model IEnumerable<Nobels.Models.Setting>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManagerc
@{
    var user = UserManagerc.FindByNameAsync(User.Identity.Name);
    var role = user.Result.RoleId;
    if (role == 6)
    {
        Layout = "_LayoutProductManeger";

    }
    else
    {
        Layout = "_Layout";

    }
}


<div class="row" style="margin-top:10px;">
<div class="col-12">


    <div class="card">

        <div class="card-header">
            <h3 class="card-title">
            </h3>
           
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dep_table">

                    <thead style="white-space: nowrap;">
                        <tr>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(modelItem => modelItem.tax)

                            </th>
                            

                            
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.tax)
                                </td>
                                
                              

                                <td style="text-align: center; white-space: nowrap;">
                                    <a asp-action="Edit" asp-route-id="@item.id"><i class="fas fa-edit"></i></a> 
                                   
                                </td>
                            </tr>
                        }
                    </tbody>



                </table>

            </div>
        </div>
    </div>
</div>

</div>



@section Scripts {
    <script>
        $(function () {
            $('#dep_table').DataTable({
                "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                "responsive": true,
                "autoWidth": true,
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يتم العثور على أية نتائج",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "البحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });
        });</script>
}

