@model Nobels.Models.Branch

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManagerc
@{
    var user = UserManagerc.FindByNameAsync(User.Identity.Name);
    var role = user.Result.RoleId;
    if (role == 6)
    {
        Layout = "_LayoutProductManeger";

    }
    else
    {
        Layout = "_Layout";

    }
}




<section>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header" style=" display: flex;
  justify-content: space-between;">
                    <a asp-action="Index"> <i class="fa fa-arrow-left fa-lg"></i></a>
                    <p>تعديل فرع</p>


                </div>

                <div class="card-body">
                    <form asp-action="Edit" style=" width: 50vw;  margin: auto;" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="BranchId" />

                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label asp-for="BranchName" class="control-label"></label>
                                    <input asp-for="BranchName" class="form-control" type="text" />
                                    <span asp-validation-for="BranchName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">


                                    <label asp-for="CityId" class="control-label"></label>
                                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>

                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" type="text" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" type="text" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" type="text" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Notes" class="control-label"></label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <label asp-for="BranchType" class="control-label"></label>
                            <input asp-for="BranchType" class="form-control" />
                            <span asp-validation-for="BranchType" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">

                 <label asp-for="branchImg " class="control-label"></label>

                            <input  class="form-control" type="file" id="file1" name="file1" accept="image/png, image/gif, image/jpeg">
                            <img id='divOutput'>


                <span asp-validation-for="branchImg" class="text-danger"></span>
            </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            تعديل
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
